{% extends "layout.html" %}
{% block content %}
        <!-- Page Header-->
        <header class="masthead image-size" style="background-image: url({{ url_for('static', filename='contact1-bg.jpg') }})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>{{ legend }}</h1>
                            <!-- <span class="subheading">You can create a blog post here!</span>-->
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        
                            <form method="POST" action="">
                                {{ form.hidden_tag() }}
                                <fieldset class="form-floating">
                                    <!--<legend class="border-bottom mb-4">{{ legend }}</legend>-->
                                    <div class="form-floating mt-2">
                                        {{ form.title.label(class="form-group-lg") }}
                                        {% if form.title.errors %}
                                            {{ form.title(class="form-control is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for errors in form.title.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.title(class="form-control") }}
                                        {% endif %}
                                    </div>
                                    <div class="form-floating mt-2">
                                        {{ form.subtitle.label(class="form-group-lg") }}
                                        {% if form.subtitle.errors %}
                                            {{ form.subtitle(class="form-control is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for errors in form.subtitle.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.subtitle(class="form-control") }}
                                        {% endif %}
                                    </div>
                                    <div class="form-floating mt-2">
                                        {{ form.content.label(class="form-group-lg") }}
                                        {% if form.content.errors %}
                                            {{ form.content(class="form-control is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for errors in form.content.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.content(class="form-control") }}
                                        {% endif %}
                                    </div>
                                </fieldset>
                                <div class="btn text-uppercase">
                                    {{ form.submit(class="btn btn-outline-info") }}
                                </div>
                            </form>
                        
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
{% endblock content %}